@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}




@mixin animationline {
  background: transparent none repeat scroll 0 0;
  content: "";
  display: block;
  height: 2px;
  margin: auto;
  transition: width 0.5s ease 0s, background-color 0.5s ease 0s;
  width: 0;
  margin-bottom: -1px;
  position: relative;
}

@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}


@mixin prevIcon {
  content: '';
  width: 10px;
  height: 10px;
  left: 3px;
  position: absolute;
  border-left: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  
}

@mixin nextIcon {
  content: '';
  width: 10px;
  height: 10px;
  position: absolute;
  left: -3px;
  border-top: 2px solid currentColor;
  border-right: 2px solid currentColor;
 
}



@mixin headings($from: 1, $to: 6){
  @for $i from $from through $to{
    h#{$i}{
      @content
    }
  }
}



