$container-width :1200px;
$cerulean-blue   :#00cccc;
$light-silver    :#D8D8D8;
$white           :#fff;
$grey-light      :#f9f9f9;
$alabaster       :#f8f8f8;
$polar           :#E5F9F7;
$dark            :#000000;
$primary         :#0EE0E0;


