.campaign-tabs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.campaign-tabs .campaign-item {
    padding: 30px;
    border: solid 1px #dddddd;
    background-color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.campaign-tabs .campaign-item:hover, .campaign-tabs .campaign-item.hovered {
    background-color: #e5f9f7;
    border: solid 1px #e5f9f7;
}

.campaign-tabs .campaign-item .campaign-title {
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.campaign-description {
    margin-bottom: 0;
}

.campaign-content {
    display: none;
}

.campaign-content.active {
    display: block;
}